<h2>Search</h2>
<div class="col-md-12">
  <input class="form-control" placeholder="Enter keywords..." type="text" #keyword />
  <div>
    <label *ngFor="let newsSource of newsSources" class="right-margin-custom">
      <input type="checkbox" name="sources" value="{{newsSource.value}}" [(ngModel)]="newsSource.checked"  /> {{newsSource.name}}
     
    </label>
    
    <label> <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();"/>Select All</label>
      
      
  </div>
  <input class="btn btn-success" type="button" (click)="getNews(keyword.value)" value="Get News" />
</div>
<div class="col-md-12">
  <div *ngFor="let item of newsFeed" class="row col-md-12">
    <div class="col-md-4" (click)="viewArticle(item)">
      <img src="{{item.urlToImage}}" class="img img-responsive" />
      <div class="well well-info">
        <span class="text-info">Source: {{item.source.name}}</span>
        <br />
        <span class="text-info">Author: {{item.author}}</span>
      </div>
    </div>
    <div class="col-md-8">
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
      <a class="btn btn-success" target="_blank" href="{{item.url}}">Read Full Article here</a>
    </div>
  </div>
</div>