
<body>
    <div class="container" id="container">
        <div  *ngFor="let item of newsFeed | async" class="gallery">
            <a tabindex="1">  <img src="{{item.urlToImage}}"/></a>
             <span class="close"></span>
        </div>
        <h1>{{time.title}}</h1>
    </div>
    <footer>
        <h2>Pure CSS3 photo gallery</h2>
        <a href="https://www.script-tutorials.com/how-to-do-pure-css3-photo-gallery/" class="stuts">Back to original tutorial on <span>Script Tutorials</span></a>
    </footer>
</body>

